<p>
  <%= local_time(coaching_session.start_time, :default) %> |
  <%= coaching_session.duration %>
  <%= t("common.minutes") %>
  <%= t('common.with') %>
  <%= link_to coaching_session.coach_name, client_coach_path(coaching_session.coach_slug) %>
</p>

<dl class="border border-black p-4 rounded-md">
  <dt><%= t('activerecord.attributes.coaching_session.notes') %>:</dt>
  <dd><%= coaching_session.notes %></dd>
</dl>
