<% submit ||= nil %>

<%= form_with(model: coach) do |form| %>
  <% if coach.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(coach.errors.count, "error") %>
        prohibited this coach from being saved:
      </h2>

      <ul>
        <% coach.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, autocomplete: :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, autocomplete: :email %>
  </div>

  <% if coach.new_record? %>
    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, autocomplete: 'new-password' %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, autocomplete: :off %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit submit %>
    <%= t('common.or') %>
    <%= link_to t('actions.cancel'), root_path %>
  </div>
<% end %>
