<% submit ||= t('actions.create_thing', thing: t('activerecord.models.coaching_session')) %>

<%= form_with(model: coaching_session, url: [:coach, coaching_session]) do |form| %>
  <%= render 'shared/form_errors', resource: coaching_session %>

  <div class="field">
    <%= form.label :client_profile_id, t('activerecord.models.client') %>
    <%= form.collection_select :client_profile_id,
      current_coach.clients,
      :id,
      :name,
      prompt: true
    %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_field :start_time %>
  </div>

  <div class="field">
    <%= form.label :video_embed,
      "#{t("activerecord.attributes.coaching_session.video_embed").titleize} \
      (#{t("activerecord.attributes.coaching_session.video_embed_or_url")})",
      class: "normal-case" %>

    <%= form.text_area :video_embed, class: "w-96 h-24" %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.rich_text_area :notes %>
  </div>

  <div class="actions">
    <%= form.submit submit %>
    <%= t('common.or') %>
    <%= link_to t('actions.cancel'), :back %>
  </div>
<% end %>
