<h1><%= t('.title') %></h1>

<dl>
  <dt><%= t('activerecord.attributes.coaching_session.client_name') %></dt>
  <dd><%= @coaching_session.client_name %></dd>

  <dt><%= t('activerecord.attributes.coaching_session.start_time') %></dt>
  <dd><%= local_time(@coaching_session.start_time, :default) %></dd>

  <dt><%= t('activerecord.attributes.coaching_session.join_url') %></dt>
  <dd><%= link_to @coaching_session.join_url, @coaching_session.join_url %></dd>

  <dt><%= t('activerecord.attributes.coaching_session.duration') %></dt>
  <dd><%= @coaching_session.duration %> <%= t("common.minutes") %></dd>

  <dt><%= t('activerecord.attributes.coaching_session.video_embed') %></dt>
  <dd><%= sanitize(@coaching_session.video_embed || "", tags: %w[iframe embed]).html_safe %></dd>

  <dt><%= t('activerecord.attributes.coaching_session.notes') %></dt>
  <dd><%= @coaching_session.notes %></dd>
</dl>

<p><%= link_to t("actions.back").capitalize, [:coach, :coaching_sessions] %></p>
