<%
  submit ||= nil
  url ||= admin_users_path
  cancel_path ||= admin_users_path
  css_classes ||= ''
  model_name ||= :user
%>

<%= form_with(model: resource, url: url, class: css_classes) do |form| %>
  <%= render 'shared/form_errors', resource: resource, model_name: model_name %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, autocomplete: :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, autocomplete: :email %>
  </div>

  <% if resource.new_record? %>
    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, autocomplete: 'new-password' %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, autocomplete: :off %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit submit %>
    <%= t('common.or') %>
    <%= link_to t('actions.cancel'), cancel_path %>
  </div>
<% end %>
